<div id="page-content-wrapper">
    <div class="container-fluid">
        <h1 class="mt-4">Развертывание СН</h1>
        <p>Сайт, содержащий различные ресурсы, документы и ссылки, для их скачивания.</p>
    </div>
</div>